.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px); /* Ajusta 60px al tamaño del footer */
  overflow: hidden;
}


.bullet {
  position: absolute;
  width: 30px;
  height: 30px;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}

/* Media query para mostrar controles solo en dispositivos móviles */

@media (max-width: 768px) {
  .container {
    

  }
}