.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
   /* z-index: 10;*/ /* Para asegurarse de que esté sobre el contenido */
  }
  
  /* Media query para mostrar footer solo en dispositivos móviles */
  @media (min-width: 768px) {
    .footer {
      display: none;
    }
  }
  
  button {
    border-radius: 50px;
    cursor: pointer;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
  
